上課操作

In [2]:
print('Hello world')

Hello world

In [3]:
name = 'Kevin'

In [4]:
print(name[0])

K

In [5]:
name.replace('K','R')

'Revin'

In [6]:
print(name[0])

K

In [7]:
name[:]

'Kevin'

In [8]:
name[1:]

'evin'

In [9]:
'R'+name[1:]

'Revin'

In [10]:
x = 'abcdefghijklmnopqrstuvwxyz'
print(x[3])

d

In [11]:
x[1:4]

'bcd'

In [13]:
y='0123456789'
y[0:8:2]

'0246'

In [14]:
y[:8:2]

'0246'

In [15]:
y[0::2]

'02468'

In [16]:
len(x)

26

In [17]:
x = 'book,apple,Hi'
x.split(',')

['book', 'apple', 'Hi']

In [18]:
x

'book,apple,Hi'

In [19]:
x1=x.split(',')
x1

['book', 'apple', 'Hi']

In [20]:
x

'book,apple,Hi'

In [21]:
x1[0]

'book'

In [22]:
s='*'
joined =s.join(x)
joined

'b*o*o*k*,*a*p*p*l*e*,*H*i'

In [23]:
joined =s.join(x1)
joined

'book*apple*Hi'

In [25]:
song ='Nothing gonna change my love for you'
song.startswith('Nothing')

True

In [26]:
song.endswith('Nothing')

False

In [27]:
song.find('change')

14

In [33]:
song.count('a')

2

In [34]:
setup = 'a duck goes into a bar...'
setup.strip('.')

'a duck goes into a bar'

In [35]:
setup.capitalize()

'A duck goes into a bar...'

In [36]:
setup.title()

'A Duck Goes Into A Bar...'

In [37]:
x = ['Monday','Tuesday','Wednesday']
type(x)

list

In [38]:
r = ('Kevin','Jason','John')
type(r)

tuple

In [39]:
r2 = 'Kevin','Jason','John'
type(r2)

tuple

In [41]:
x[0] = 'Monkey'
x

['Monkey', 'Tuesday', 'Wednesday']

In [42]:
r[0]='Monkey'
r

TypeError: 'tuple' object does not support item assignment

In [43]:
x1 = list()
type(x1)

list

In [44]:
list('Apple')

['A', 'p', 'p', 'l', 'e']

In [45]:
list(r2)

['Kevin', 'Jason', 'John']

In [46]:
r2

('Kevin', 'Jason', 'John')

In [47]:
x1 =list(r2)
type(x1)

list

In [48]:
x[2]

'Wednesday'

In [49]:
x[-1]

'Wednesday'

In [50]:
x[-2]

'Tuesday'

In [52]:
a = [[['Apple','Banana'],'Kiwi'],'Guava']
a[0]

[['Apple', 'Banana'], 'Kiwi']

In [53]:
a[0][0]

['Apple', 'Banana']

In [54]:
a[0][0][1]

'Banana'

In [56]:
areas =['Taipei','Taichung','New Taipei']
x = ['Monday','Tuesday','Wednesday']
areas+=x
areas

['Taipei', 'Taichung', 'New Taipei', 'Monday', 'Tuesday', 'Wednesday']

In [58]:
areas.append(x)
areas

['Taipei',
 'Taichung',
 'New Taipei',
 'Monday',
 'Tuesday',
 'Wednesday',
 ['Monday', 'Tuesday', 'Wednesday'],
 ['Monday', 'Tuesday', 'Wednesday']]

In [67]:
areas =['Taipei', 'Taichung', 'New Taipei', 'Monday', 'Tuesday', 'Wednesday']
areas.insert(1,'Kevin')
areas

['Taipei', 'Kevin', 'Taichung', 'New Taipei', 'Monday', 'Tuesday', 'Wednesday']

In [69]:
areas.remove('Kevin')
areas

['Taipei', 'Taichung', 'New Taipei', 'Monday', 'Tuesday', 'Wednesday']

In [70]:
areas.pop(2)

'New Taipei'

In [73]:
areas.sort()
areas

['Monday', 'Taichung', 'Taipei', 'Tuesday', 'Wednesday']

In [77]:
x = ['120','110','150']
x.sort()
x

['110', '120', '150']

In [146]:
x.sort(reverse = True)
x

['150', '120', '110']

作業1

In [79]:
print('Hello world')

Hello world

作業2

In [1]:
a = "kevin"
b = a*3
b

'kevinkevinkevin'

作業3

In [132]:
import requests
response = requests.get("http://www.novelscape.net/wxxs/j/jingyong/ffwz/001.htm")
response.encoding = "big5"
book1 = response.text
book2 = book1[85:100]
book3 = book2.split('-->')
book4 = 'OAO'.join(book3)

In [133]:
book2

'金庸-->飛狐外傳-->第一章'

In [134]:
book3

['金庸', '飛狐外傳', '第一章']

In [135]:
book4

'金庸OAO飛狐外傳OAO第一章'

In [136]:
book2.startswith('金庸')

True

In [137]:
book2.endswith('金庸')

False

In [138]:
book2.find('飛')

5

In [139]:
book2.rfind('飛')

5

In [140]:
book2.count('狐')

1

In [145]:
book2.replace('金庸', 'Kevin')

'Kevin-->飛狐外傳-->第一章'